
/*  ====================================================================
====        Project Name : Stdio Design Landing Page                ====
====  ************************************************************  ====
====            Project Contributor:                                ====
====              1. Os-Traveller                                   ====
====              2. Shazzadul-Shakib                               ====
====              3. miforbd                                        ====
====================================================================  */

/* ================================== 
              Imports 
================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* ================================== 
              variable 
================================== */
:root {
  --clr-primary: #2639ED;
  --clr-primary-dark: #081161;
  --max-scrn-size: 1920px;
  --normal-scrn-size: 1280px;
  --section-margin:10rem;
}

 /* ================================== 
                Base 
================================== */

/*  Note: Do not change this. This is the basic boilerplate of css.
    Please read this very carefully. We shold try to write clean code.
    Please use semantic tag. While choosing class name choose a meaningful 
    one. And Try to use relative values while defining width heigh or font 
    size. I have made a section named container. All the codes should be 
    written in the scope of container. Only footer has be wiritten outside 
    the scope of container. So that when we will be working with media query 
    that will be easy playing with various kind of screen size. 
    Thank you.

    By ---- Os-Traveller.
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* this has been done to ge rid of annoying margin and padding  by -- Os-Traveller*/
}
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  /*  
    here root font-size is 10px   so 1erm = 10px
    by Os-Traveller
  */
}
body {
  width: 100%;
  display: flex;
}
.container {
  max-width: var(--max-scrn-size);
  min-width: var(--normal-scrn-size);
  width: 100%;
  padding: 4rem 12rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
}
 /* ================================== 
              Layout 
================================== */
/* ------------------------- 
  !Hero Box section 
    by Os-Traveller
------------------------ */
.hero_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  margin: var();
}
.hero_box--text h1 {
 margin-bottom: 4rem;
}
.hero_box--text p {
 margin-bottom: 3rem;
 color: #565656;
 max-width: 50ch;
}
.hero_box--img {
 height: 100%;
 background-image: 
   url("./resources/iocns/Ellipse.svg"),
   url("./resources/iocns/Rectangle.svg");
 background-repeat: no-repeat, no-repeat;
 background-position: 0 0, 90% 100%;
 display: flex;
 justify-content: flex-end;
 padding-left: 5rem;
}
.hero_box--img img {
 width: 75rem;
 height: 51rem;
}

/* ------------------------- 
  !Clients section 
    by Shazzadul-Shakib 
------------------------ */

 .clients{
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
}
.client-logo{
  padding-left: 60px;
}
.client-header{
  margin-right: 20px;
}
.amazon{
  padding-top: 20px;
}

 /* ================================== 
              Components 
 ================================== */
 .btn {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  background-color: var(--clr-primary);
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: var(--clr-primary-dark);
  color: #fff;
  transform: scale(1.05);
}

 /* ================================== 
              Utility 
 ================================== */  
.u-section-margin--bottom {
  margin-bottom: var(--section-margin) !important;
}
 